Page {
  background-color: #efefef;
}

ActionBar {
  background-color: #AC130D;
  color: white;
}

.material-icon {
  font-family: 'Material-Design-Iconic-Font';
}

.share {
  margin-top: 7;
}

.post-inner {
  padding-top: 10;
  padding-left: 10;
  padding-right: 10;
  background-color: #efefef;
}

.card {
  padding: 10;
  border-radius: 3;
  background-color: white;
}

.post-title {
  color: #000000;
  font-size: 18;
  margin-bottom: 7;
}

.post-info, .post-comments {
  font-size: 12;
  color: #666666;
}

.post-comments {
  margin-top: 7;
}

.tag {
  font-size: 10;
  color: #666666;
  border-radius: 10;
  border-color: #666666;
  border-width: 1;
  padding: 3 7;
  margin-right: 7;
  margin-top: 7;
}

.post-url {
  font-size: 14;
  margin-bottom: 7;
  color: #ac120d;
}

.post-domain {
  font-size: 14;
  margin-bottom: 3;
  color: #666666;
}

.post-author, .post-created, .post-score {
  padding-right: 7;
}

.post-score {
  color: #AC130D;
}

